<header>
    <div class="header-left">
        <h1 id="home-link-js" style="cursor: pointer;">Pomodoro Navi</h1>
    </div>
    <div class="header-right">
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Signup", new_user_registration_path %>
        <a href="#"><img src="<%= asset_path 'comand.png' %>"></a>
    </div>
</header>