<header>
    <div class="header-left">
        <h1 id="home-link-js" style="cursor: pointer;">Pomodoro Navi</h1>
    </div>
    <div class="header-right">
        <a href="#">Login</a>
        <a href="#">Signup</a>
        <a href="#"><img src="<%= asset_path 'comand.png' %>"></a>
    </div>
</header>