<div class="footer-links">
    <%= link_to '利用規約', page_path('TermsOfService') %>
    <%= link_to 'プライバシーポリシー', page_path('PrivacyPolicy') %>
    <a href="https://docs.google.com/forms/d/1uHn4xHJzvk-RBYK_RPVxxee345zdIR5JLkxocHoM6Vg/" target="_blank">お問い合わせ</a>
</div>
<div class="footer-copyright">
    &copy; 2024-2025 Pomodoro Navi
</div>