<header>
    <div class="header-left">
        <h1 id="home-link-js" style="cursor: pointer;">Pomodoro Navi</h1>
    </div>
    <div class="header-right">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <a href="#"><img src="<%= asset_path 'report.png' %>"></a>
        <a href="#"><img src="<%= asset_path 'mypage.png' %>"></a>
        <a href="#"><img src="<%= asset_path 'comand.png' %>"></a>
    </div>
</header>