<header>
    <div class="header-left">
        <a href="<%= root_path %>">
            <h1>Pomodoro Navi</h1>
        </a>
    </div>
    <div class="header-right">
        <a href="#"><img src="<%= asset_path 'report.png' %>"></a>
        <a href="#"><img src="<%= asset_path 'mypage.png' %>"></a>
        <a href="#"><img src="<%= asset_path 'comand.png' %>"></a>
    </div>
</header>