.black-window {
    background-color: #1a1a1a; /* コンテナの背景色 */
    border : 5px solid #fff; /* 枠線 */
    border-radius: 10px; /* 角丸 */
    padding: 30px; /* 内側の余白 */
    width: 90%; /* 幅 */
    max-width: 1000px; /* 最大幅 */
    margin: 100px auto; /* 上下左右の中央揃え */
}

h2 {
    text-align: center; /* 中央揃え */
    color: #fff; /* 見出しの色 */
    font-size: 24px; /* 見出しのサイズ */
    padding: 20px 0; /* 上の余白 */
    margin-bottom: 30px; /* 下の余白 */
    border-bottom: 2px solid #B0B0B0; /* 下の線 */
}

h3 {
    color: #A3BE8C; /* セクション見出しの色 */
    font-size: 20px; /* セクション見出しのサイズ */
    margin-top: 30px; /* 上の余白 */
    margin-bottom: 30px; /* 下の余白 */
    border-left: 4px solid #A3BE8C; /* 左の線 */
    padding-left: 10px; /* 左の余白 */
}

p, li {
    line-height: 1.6; /* 行間 */
    font-size: 16px; /* フォントサイズ */
    margin: 14px 0; /* 上下の余白 */
}

p.end {
    text-align: right; /* 右寄せ */
    margin-top: 30px; /* 上の余白 */
    font-size: 16px; /* フォントサイズ */
    color: #B0B0B0; /* テキストの色 */
}

ol {
    margin-left: 20px; /* 左の余白 */
    padding-left: 20px; /* 左の余白 */
}

li {
    margin-bottom: 5px; /* 下の余白 */
}

li.only {
    list-style: none; /* リストのマーカーを消す */
}