body {
    background-color: #419DC4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: 'Pray', sans-serif;
    font-size: 15px;
    background: #419DC4;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1200px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth a {
    font-family: 'Pray', sans-serif;
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

#timer {
    font-size: 60px;
    letter-spacing: 6px; /* 文字の間隔を指定 */
    margin: 20px 0;
}

#status {
    font-size: 20px;
}

.timer-container {
    font-family: 'Pray', sans-serif;
    border: 6px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    width: 350px;
}

.controls button {
    font-family: 'Pray', sans-serif;
    font-size: 28px;
    background: #419DC4;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    opacity: 0.7;
}

.message {
    margin-top: 20px;
    text-align: left;
}

.cat-icon img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: right; /* 右寄せにする */
}

footer a {
    font-family: 'Pray', sans-serif;
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    font-size: 12px;
}