<p><%= @resource.email %> 様</p>

<p>『Pomodoro Navi』をご利用いただき、ありがとうございます。<br>
パスワード再設定のリクエストを受け付けました。<br>
以下のリンクから、パスワードを再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>上記のリンクにアクセスして新しいパスワードを作成しない限り、パスワードは変更されません。<br>
本リクエストにお心当たりがない場合は、お手数ですが破棄していただきますようお願いします。</p>

------------------------------------------------<br>
Pomodoro Navi<br>
https://pomodoro-navi.fly.dev/<br>
------------------------------------------------
